<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bob's Burger of the Day</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Architects+Daughter|Atma|Cabin+Sketch|Caveat|Caveat+Brush|Coming+Soon|Fredericka+the+Great|Gaegu|Gloria+Hallelujah|Indie+Flower|Jacques+Francois+Shadow|Kalam|Londrina+Outline|Londrina+Shadow|Londrina+Sketch|Nanum+Pen+Script|Patrick+Hand|Permanent+Marker|Reenie+Beanie|Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css">
    </head>

    <body>
        {{{body}}}
        
    </body>

</html>